*, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
}

.cone-top {
	position: absolute;
	z-index: 99999;
	top: 52px;
	left: 50%;
	margin-left: -13px;
	width: 26px;
	border-radius: 50%;
	height: 7px;
	box-shadow: inset 0px 0px 6px #666;
	background: #fc7a00;
}

.cone-front {
	display: inline-block;
	width: 42px;
	height: 200px;
	background: linear-gradient(to right, #fc6706 0%,#fc8b00 48%,#fc8b00 52%,#fc6706 100%);
	position: relative;
	z-index: 9999;
	overflow: hidden;
  transform: perspective(123px) rotateX(45deg);
}

.cone-front::before {
	content: '';
	width: 42px;
	height: 40px;
	background: linear-gradient(to right, #e5e5e5 0%,#ffffff 48%,#ffffff 52%,#e5e5e5 100%);
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -21px;
	z-index: 9999;
}

.cone-front::after {
	content: '';
	width: 42px;
	height: 18px;
	background: linear-gradient(to right, #e5e5e5 0%,#ffffff 48%,#ffffff 52%,#e5e5e5 100%);
	position: absolute;
	bottom: 12px;
	left: 50%;
	margin-left: -21px;
	z-index: 9999;
}

.cone-end {
	border-radius: 50%;
	width: 100px;
	height: 36px;
	background: linear-gradient(to right, #fc6706 0%,#fc8b00 48%,#fc8b00 52%,#fc6706 100%);
	position:absolute;
	top: 252px;
	left: 50%;
	margin-left: -50px;
	z-index: 3;
}

.base {
	display: inline-block;
	width: 136px;
	height: 66px;
	top: 240px;
	left: 50%;
	margin-left: -68px;
	position: absolute;
	background-color: #fc5f00;
	transform: rotateX(45deg);
	z-index: 2;
	border-radius: 20px;
	transform: perspective(123px) rotateX(50deg);
	box-shadow: 0px 3px 0px #fc4500;
}